* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition: 0.5s;
}
@font-face {
  font-family: "myFont";
  src: url("/assets/Fontspring-DEMO-bebasneuepro-expeb.otf");
}
body {
  background-color: rgb(18, 19, 19);
  /* font-family: myFont, sans-serif; */
}
/* navigation custom styles */
.loginBtn {
  padding: 10px 16px 10px 16px;
}
.loginBtn:hover {
  background: rgba(245, 245, 245, 0.4);
  color: black;
}

h1,
h2,
h3 {
  font-family: myFont, sans-serif;
}

/* main section || container for the video */
.main-section {
  position: relative;
  width: 100vw;
  height: 100%;
  /* background: red; */
  display: flex;
  /* margin-bottom: 50px; */
}
/* overlay section || on top of the video */
.overlay-section {
  height: 100%;
  width: 100vw;
  background: rgba(0, 0, 0, 0.35);
  /* background-color: black; */
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 200px;
}
/* inside of the overlay section */
.overlay-text {
  position: absolute;
  background-color: transparent;
  color: whitesmoke;
  flex-direction: column;
  text-align: left;
  display: flex;
  bottom: 0;
  left: 0;
  margin: 0 0 20px 30px;
}
.overlay-text h1 {
  margin: 0px;
  font-size: 4.5rem;
  font-family: myFont, sans-serif;
}
.overlay-text p {
  font-size: 18px;
  width: 100%;
}
.booking-btn {
  background-color: whitesmoke;
  color: black;
  display: flex;
  justify-content: center;
  width: 120px;
  height: 40px;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  border: 2px solid whitesmoke;
  margin-top: 10px;
  margin-left: 10px;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  height: 100%;
}

/* Add some content at the bottom of the video/page */
.conten {
  position: relative;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 60px;
  height: 60px;
  font-size: 18px;
  padding: 5px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  position: absolute;
  right: 18px;
  bottom: 15px;
  border-radius: 50%;
  z-index: 2;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
/* test-slider */
.test-slider {
  position: relative;
  width: 90%;
  height: 300px;
  display: flex;
  margin: 0 auto;
  overflow: hidden;

  /* border: 30px solid transparent; */
  /* background-color: red; */
}
@keyframes scroll-up {
  0% {
    transform: translateY(40%);
  }
  100% {
    transform: translateY(-40%);
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateY(40%);
  }
}

.scroll-container {
  display: flex;
  height: 300px;
}

.scroll-column {
  flex: 1;
  animation: scroll-up 15s linear infinite;
}

.scroll-column.reverse {
  animation: scroll-down 15s linear infinite;
}

.poze {
  overflow: hidden;
  height: 100vh;
}

.photo-container {
  width: 100%;
}

@media (max-width: 768px) {
  .grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .md\\:grid-cols-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .grid-cols-2 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .md\\:grid-cols-4 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* .main-section h1,
.main-section .h1 {
   font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
  font-family: myFont, sans-serif; 
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  
   background: linear-gradient(rgba(255, 255, 255, 1), rgba(209, 255, 6, 1) 90%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text; 
}
 */
/* section 2 */
#section_2 {
  margin: 80px 0px 20px 0px;
  max-height: 90vh;
  min-height: 500px;
}
#section_2 h2 {
  font-size: 6rem;
  margin-bottom: 80px;
}

.wrapper {
  margin-top: 2rem;

  width: 100vw;
  /* max-width: 1536px; */
  margin-inline: auto;
  height: 200px;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

@keyframes scrollRight {
  to {
    right: -200px;
  }
}

.itemLeft,
.itemRight {
  width: 300px;
  height: 200px;
  background-color: #e11d48;
  border-radius: 6px;
  position: absolute;
  animation-timing-function: linear;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.itemLeft {
  left: max(calc(300px * 8), 100%);
  animation-name: scrollLeft;
}

.itemRight {
  right: max(calc(300px * 8), calc(100% + 300px));
  animation-name: scrollRight;
}

.item1 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}

/* section 3 */

#section_3 {
  margin: 80px 0px 80px 0px;
  width: 100vw;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.choices {
  display: flex;
  justify-content: center;
  background: transparent;
  /* width: 90vw; */
  flex-wrap: wrap;
  margin: 0px;
}

#section_3 h2 {
  font-size: 6rem;
  color: white;
}
.box-s3 {
  cursor: pointer;
  padding: 20px;
  margin: 10px;
  height: 300px;
  width: 450px;
  /* min-height: 250px;
  min-width: 300px; */
  background-color: rgb(241, 235, 235);
  /* border: 2px solid black; */
  border-radius: 12px;
  position: relative;
  transform: scale(85%);
  transition: 1s;
}
.box-s3:hover {
  transform: scale(100%);
}
.circle {
  position: absolute;
  right: 0;
  top: 0;
  margin: 8px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: black;
}
.box-s3 h3 {
  font-size: 4rem;
  margin-top: 15px;
}
.box-s3 p {
  font-size: 1.5rem;
  margin-top: -10px;
}

.box-s3 button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: black;
  border-radius: 8px;
  color: whitesmoke;
  width: 135px;
  height: 35px;
}

button:hover {
  transform: scale(105%);
}
/* section 3, choices 2, boxes */
.choices-2 {
  background: transparent;
  width: 100vw;
  min-height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.box-c2 {
  color: white;
  width: 280px;
  height: 80px;
  background-color: rgba(245, 245, 245, 0.2);
  position: relative;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  align-items: flex-end;
}
.box-c2 p {
  margin: 0px 0px 10px 10px;
  opacity: 75%;
}
.box-c2 .circle {
  left: 0;
  width: 8px;
  height: 8px;
  background: whitesmoke;
  opacity: 75%;
}
.choices2-box {
  display: flex;
  flex-direction: row;
}
#navigation {
  position: relative;
  left: -50%;
  width: fit-content;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  /* -webkit-backdrop-filter: blur(2px); */
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.nav-container {
  top: 20px;
  position: fixed;
  z-index: 100;
  left: 50%;
  width: fit-content;
  height: fit-content;
}
/* section 4 team page */

.team-section {
  width: 100vw;
  height: fit-content;
  background-color: transparent;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 80px 0px 80px 0px;
}
.team-section h2 {
  color: whitesmoke;
  font-size: 6rem;
  margin-bottom: 20px;
}
.team-container {
  width: 90vw;
  /* heigth: 100%; */
  background: transparent;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.row-person1,
.row-person2 {
  background: transparent;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.person-card {
  width: 250px;
  height: 350px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  border: 2px solid rgba(255, 255, 255, 0.3);

  overflow: hidden;

  position: relative;
  text-align: center;
  padding: 15px;
  margin: 20px;
  border-radius: 10px;
}
.person-card h4 {
  color: whitesmoke;
  opacity: 75%;
  padding: 10px;
}
.person-card p {
  color: whitesmoke;
  opacity: 75%;
  padding: 10px;
}
.person-card img {
  width: 100%;
  background: transparent;
}
.about-person {
  position: absolute;
  width: 250px;
  height: 350px;
  top: 100%;
  left: 0;
  opacity: 1;
  transition: 0.6s;
  border-radius: 10px;

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.3);
}
.about-person p {
  color: black;
}
.person-card:hover .about-person {
  opacity: 1;
  cursor: pointer;
  top: 0;
}

.person-card:hover {
  scale: 110%;
}
/* for mobile/tablet version add popup containers for info */
