* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition: 0.5s;
}
@font-face {
  font-family: "myFont";
  src: url("/assets/Fontspring-DEMO-bebasneuepro-expeb.otf");
}
body {
  background-color: rgb(18, 19, 19);
  /* font-family: myFont, sans-serif; */
}
h1,
h2,
h3 {
  font-family: myFont, sans-serif;
}
.poze {
  display: flex;
  margin: 0 auto;
  width: 70vw;
}
/* main section || container for the video */
.main-section {
  position: relative;
  width: 100vw;
  height: 100%;
  /* background: red; */
  display: flex;
  /* margin-bottom: 50px; */
}
/* overlay section || on top of the video */
.overlay-section {
  height: 100%;
  width: 100vw;
  background: rgba(0, 0, 0, 0.35);
  /* background-color: black; */
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 200px;
}
/* inside of the overlay section */
.overlay-text {
  position: absolute;
  background-color: transparent;
  color: whitesmoke;
  flex-direction: column;
  text-align: left;
  display: flex;
  bottom: 0;
  left: 0;
  margin: 0 0 20px 30px;
}
.overlay-text h1 {
  font-size: 4.5rem;
  font-family: myFont, sans-serif;
}
.overlay-text p {
  font-size: 18px;
  width: 100%;
}
.booking-btn {
  background-color: whitesmoke;
  color: black;
  display: flex;
  justify-content: center;
  width: 120px;
  height: 40px;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  border: 2px solid whitesmoke;
  margin-top: 20px;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  height: 100%;
}

/* Add some content at the bottom of the video/page */
.conten {
  position: relative;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 60px;
  height: 60px;
  font-size: 18px;
  padding: 5px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  position: absolute;
  right: 18px;
  bottom: 15px;
  border-radius: 50%;
  z-index: 2;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
/* test-slider */
.test-slider {
  position: relative;
  width: 90%;
  height: 300px;
  display: flex;
  margin: 0 auto;
  overflow: hidden;

  /* border: 30px solid transparent; */
  /* background-color: red; */
}
@keyframes scroll-up {
  0% {
    transform: translateY(40%);
  }
  100% {
    transform: translateY(-40%);
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateY(40%);
  }
}

.scroll-container {
  display: flex;
  height: 300px;
}

.scroll-column {
  flex: 1;
  animation: scroll-up 15s linear infinite;
}

.scroll-column.reverse {
  animation: scroll-down 15s linear infinite;
}

.poze {
  overflow: hidden;
  height: 100vh;
}

.photo-container {
  width: 100%;
}

@media (max-width: 768px) {
  .grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .md\\:grid-cols-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .grid-cols-2 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .md\\:grid-cols-4 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* .main-section h1,
.main-section .h1 {
   font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
  font-family: myFont, sans-serif; 
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  
   background: linear-gradient(rgba(255, 255, 255, 1), rgba(209, 255, 6, 1) 90%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text; 
}
 */
/* section 2 */
#section_2 {
  margin: 80px 0px 20px 0px;
  max-height: 90vh;
  min-height: 500px;
}
#section_2 h2 {
  font-size: 6rem;
  margin-bottom: 80px;
}

.wrapper {
  margin-top: 2rem;

  width: 100vw;
  /* max-width: 1536px; */
  margin-inline: auto;
  height: 200px;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

@keyframes scrollRight {
  to {
    right: -200px;
  }
}

.itemLeft,
.itemRight {
  width: 300px;
  height: 200px;
  background-color: #e11d48;
  border-radius: 6px;
  position: absolute;
  animation-timing-function: linear;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.itemLeft {
  left: max(calc(300px * 8), 100%);
  animation-name: scrollLeft;
}

.itemRight {
  right: max(calc(300px * 8), calc(100% + 300px));
  animation-name: scrollRight;
}

.item1 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}

/* section 3 */

#section_3 {
  margin: 80px 0px 80px 0px;
  width: 100vw;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.choices {
  display: flex;
  justify-content: center;
  background: transparent;
  /* width: 90vw; */
  flex-wrap: wrap;
  margin: 0px;
}

#section_3 h2 {
  font-size: 6rem;
  color: white;
}
.box-s3 {
  cursor: pointer;
  padding: 20px;
  margin: 10px;
  height: 300px;
  width: 450px;
  /* min-height: 250px;
  min-width: 300px; */
  background-color: rgb(241, 235, 235);
  /* border: 2px solid black; */
  border-radius: 12px;
  position: relative;
  transform: scale(85%);
  transition: 1s;
}
.box-s3:hover {
  transform: scale(100%);
}
.circle {
  position: absolute;
  right: 0;
  top: 0;
  margin: 8px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: black;
}
.box-s3 h3 {
  font-size: 4rem;
  margin-top: 15px;
}
.box-s3 p {
  font-size: 1.5rem;
  margin-top: -10px;
}

.box-s3 button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: black;
  border-radius: 8px;
  color: whitesmoke;
  width: 135px;
  height: 35px;
}

button:hover {
  transform: scale(105%);
}
/* section 3, choices 2, boxes */
.choices-2 {
  background: transparent;
  width: 100vw;
  min-height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.box-c2 {
  color: white;
  width: 280px;
  height: 80px;
  background-color: rgba(245, 245, 245, 0.2);
  position: relative;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  align-items: flex-end;
}
.box-c2 p {
  margin: 0px 0px 10px 10px;
  opacity: 75%;
}
.box-c2 .circle {
  left: 0;
  width: 8px;
  height: 8px;
  background: whitesmoke;
  opacity: 75%;
}
.choices2-box {
  display: flex;
  flex-direction: row;
}
#navigation {
  position: relative;
  left: -50%;
  width: fit-content;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  /* -webkit-backdrop-filter: blur(2px); */
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.nav-container {
  top: 20px;
  position: fixed;
  z-index: 100;
  left: 50%;
  width: fit-content;
  height: fit-content;
}
nav a {
  color: black;
}
:root {
  --crsl-bg: transparent;
  --box-bg: #1e272e;
  --box-shadow: #0000001c;
  --box-shadow-border: #0000000f;
  --box-border: #fff;
}

#slider {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background: rgb(47,53,57);
  background: radial-gradient(circle, rgba(47,53,57,1) 0%, rgba(30,39,46,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2f3539", endColorstr="#1e272e", GradientType=1); 

}
  #slider p {
    font-size: .95em;
    font-weight: bold;
    position: absolute;
    top: 7.5%;
    width: 100%;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    user-select: none;    
  }
  
  #slider .carousel {
    padding-top: 125px; 
  }

.carousel {
  position: relative;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.carousel__prev, .carousel__next {
  position: absolute;
  bottom: -15%;
  transition: transform 0.25s ease;
}

.carousel__prev i, .carousel__next i {
  font-size: 60px;
  color: var(--box-border);
  cursor: pointer;
}

.carousel__prev:hover, .carousel__next:hover {
  transform: scale(1.25);
}

.carousel__prev { left: 40%; }
.carousel__next { right: 40%; }

.carousel__body {
  width: 100%;
  padding: 50px 0 50px 0;
  overflow: hidden;
}

.carousel__slider {
  position: relative;
  transition: transform 1s ease-in-out;
  background: var(--crsl-bg);
}

.carousel__slider__item {
  position: relative;
  display: block;
  float: left;
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
}

.item__3d-frame {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;
}

.item__3d-frame:after {
  content: '';
  position: absolute;
  bottom: -15%;
  width: 100%;
  height: 40px;
  background: var(--box-shadow);
  box-shadow: 0px 0px 5px 5px var(--box-shadow);
  transform: rotateX(90deg) translate3d(0px, -100px, 0px);
  opacity: 0.85;
}

.item__3d-frame__box {
  display: flex;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-color: var(--box-border);
  background: var(--box-bg);
  border-width: 3px;
  border-style: solid;
}

.item__3d-frame__box h1 {
  font-size: 7em;
  width: 100%;
  color: var(--box-border);
}

.item__3d-frame__box--right, .item__3d-frame__box--left {
  top: 0;
  width: 40px;
  backface-visibility: hidden;
}

.item__3d-frame__box--left {
  left: 0;
  border-left-width: 5px;
  transform: translate3d(1px, 0, -40px) rotateY(-90deg);
  transform-origin: 0%;
}
.fa-angle-left:before {
  content: "<";
}
.fa-angle-right:before {
  content: ">";
}
.item__3d-frame__box--right {
  right: 0;
  border-right-width: 5px;
  transform: translate3d(-1px, 0, -40px) rotateY(90deg);
  transform-origin: 100%;
}

.carousel__slider__item--active .item__3d-frame {
  transform: perspective(1200px) rotateY(0deg);
}

.carousel__slider__item:not(.carousel__slider__item--active) .item__3d-frame {
  transform: perspective(1200px) rotateY(40deg);
}

.carousel__slider__item--active .item__3d-frame__box--left {
  transform: translate3d(1px, 0, -40px) rotateY(-90deg) translateZ(0);
}

.carousel__slider__item--active .item__3d-frame__box--right {
  transform: translate3d(-1px, 0, -40px) rotateY(90deg) translateZ(0);
}

.carousel__slider__item:not(.carousel__slider__item--active) .item__3d-frame__box--left {
  transform: translate3d(1px, 0, -40px) rotateY(-90deg) translateZ(-200px);
}

.carousel__slider__item:not(.carousel__slider__item--active) .item__3d-frame__box--right {
  transform: translate3d(-1px, 0, -40px) rotateY(90deg) translateZ(-200px);
}

.item__3d-frame__box--front {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .item__3d-frame__box--front img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
